.footer__list-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #c0c0c0;
  margin: 0;
  margin-bottom: 10px;
}
