.gear__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;

  letter-spacing: 0.4px;

  color: #000000;
  background: #ffffff;
  border-radius: 14px;
  padding: 9px 13px 10px;
  border: none;
  margin-left: calc(100% / (720 / 100));
  margin-bottom: calc(153% / (720 / 100));
  transition: all 1s;
  border: 1px solid black;
  cursor: pointer;
}

.gear__button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 1s;
  border: 1px solid white;
}
@media screen and (max-width: 540px) {
  .gear__button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 4px 13px 5px;
    font-size: 12px;
  }
}
