.Featured__title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(25px + 15 * (100vw / 1440));
  line-height: 105%;

  text-align: center;

  color: #ffffff;
  margin-top: calc(113% / (1440 / 100));
  margin-bottom: 15px;
}
