.meh {
  background-image: url(../../images/mehBg.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.active.meh {
  background-image: url(../../images/mehBgTwo.jpg);
}
.activeTwo.meh {
  background-image: url(../../images/mehBgThree.jpg);
}
@media screen and (max-width: 580px) {
  .meh {
    align-items: center;
  }
}
