.help__button {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;

  letter-spacing: 0.4px;

  color: #000000;
  background: #ffffff;
  border-radius: 14px;
  padding: 9px 13px 10px;
  border: none;
  max-width: 130px;
  width: 100%;
  margin-bottom: calc(108% / (1440 / 100));
  transition: all 1s;
  border: 1px solid black;
  cursor: pointer;
}
.help__button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 1s;
  border: 1px solid white;
}
@media screen and (max-width: 580px) {
  .help__button {
    padding: 4px 13px 5px;
  }
}
