.gear__photo {
  background-image: url(../../../images/gearBg.jpg);
  background-position: center center;
  background-size: cover;
  display: -webkit-flex;
  -webkit-justify-content: end;
  -webkit-align-items: end;
}
@media screen and (max-width: 653px) {
  .gear__photo .about__container {
    flex-direction: column;
  }
  .gear__photo .about__container .about__mark {
    margin-bottom: 15px;
  }
}
